
@model PagedList.IPagedList<ModelEF.EF.Category>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <i class="fa fa-user"></i>&nbsp;Quản Lý Thể Loại
}
@using (Html.BeginForm("Index", "Category", FormMethod.Post))
{
    <div class="col-lg-12 form-group" style="margin-top:20px;">
        <div class="col-md-6">
            @Html.ActionLink("Tạo Mới", "Create", "Category", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập Từ Khóa Cần Tìm Kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Mô Tả</th>
        <th>Thao Tác</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr id="row_@item.ID">
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a href="~/Admin/Category/Create/@item.Name"><i class="fa fa-refresh"></i>Sửa</a>

                &nbsp;
                @Ajax.ActionLink("Xóa", "Delete", new { @username = item.ID }, new AjaxOptions
           {
               Confirm = "Bạn có muốn xóa bản ghi này?",
               OnComplete = "$('#row_" + @item.ID + "').remove()",
               HttpMethod = "Delete"
           }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
